// /* Fonts */
$font_body: "Roboto", sans-serif !default;
$font_handwriting: "Delicious Handrawn";

// /* Colors */
$primary-color-1: #fafafa;
$primary-color-2: #3657c3;
$primary-color-3: #a6bff9;
$primary-color-4: #dfeaff;

$secondary-color-1: #fffab8;

$text-color-1: #000;
$text-color-2: #fff;
$text-color-3: #f32929;

/* Responsive */
$breakpoints: (
  mobile: 370px,
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1280px,
);
