@use "../utils/mixins" as *;

html,
body {
  height: 100%;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding: 10px;

  @include responsive-desktop {
    padding: 10px 20px;
  }

  @include responsive-large-desktop {
    padding: 10px 30px;
  }
}
