@use "../utils/mixins" as *;

html,
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-gutter: stable; // To manage the space for the vertical scrollbar
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh; // For smartphone devices
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;

  padding: 10px;

  @include responsive-desktop {
    padding: 10px 20px;
  }

  @include responsive-large-desktop {
    padding: 10px 30px;
  }
}
