@use "../../../styles/utils/variables" as *;
@use "../../../styles/utils/mixins" as *;
@use "sass:color";

.transaction-card {
  margin-bottom: 15px;

  &__date {
    margin-bottom: 5px;
  }
  &__transactions {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background-color: $primary-color-4;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: color.adjust($primary-color-4, $lightness: 10%);
    }

    &__label {
      font-weight: bold;
    }

    .positive {
      color: green;
    }
  }
}
