@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container-transaction-edit {
  form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 10px;
    gap: 10px;
  }


}
