@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include responsive-tablet {
    flex-direction: row;
  }
}
