@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container-bankAccountCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $primary-color-3;
  padding: 10px;
  border-radius: 5px;

  @include responsive-tablet {
    padding: 15px;
  }

  .bankAccountName {
    font-size: 1.2rem;
    @include responsive-tablet {
      font-size: 1.5rem;
    }
  }

  .currentBalance {
    @include responsive-tablet {
      font-size: 1.2rem;
    }
  }
}
