@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $primary-color-2;
  padding: 10px 5px;

  .navbar__icon {
    padding: 10px;
    color: $text-color-2;
    cursor: pointer;

    &-image{
      font-size: 1.5rem;
    }

    &.active {
      background-color: $text-color-2;
      color: $text-color-1;
    }

    &:hover {
      background-color: $primary-color-3;
    }
  }
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
