@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container-bankAccountCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: $primary-color-3;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  @include responsive-tablet {
    padding: 15px;
  }

  &__amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    * {
      font-size: 0.8rem;
      font-weight: 400;
    }
    .details-label {
      flex: 1;
      text-align: left;
      font-style: italic;
    }
    .details-name,
    .details-amount {
      text-align: right;
    }
  }

  .bankAccountName {
    font-size: 1.5rem;
    @include responsive-tablet {
      font-size: 1.5rem;
    }
  }

  .currentBalance {
    @include responsive-tablet {
      font-size: 1.2rem;
    }
  }
}
