@use "../utils/variables" as *;
@use "../utils/mixins" as *;

* {
  font-family: $font_body;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  @include responsive-tablet {
    font-size: 14px;
  }

  @include responsive-desktop {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}
